body{
  background-color: #1B1040;
}

.bar:hover{
  fill: #3ADCDC;
}

.dashboard-title{ 
  color: white; 
  font-size: 24px;
  text-align: center;  
}

.active-title{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #F0F3F3;
}

#bar-chart {
  margin: 10px 50px;
  border: 1px solid #1B1040;
  background: #202A52;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#scatter-plot {
  margin: 10px 50px;
  border: 1px solid #1B1040;
  background: #202A52;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#numberOfVisitors{
  margin: 10px 50px;
  border: 1px solid #1B1040;
  background: #202A52;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.x-axis {
  font-size: 14px;
  font-weight: 500px;
  color: white;
}

.y-axis {
  font-size: 14px;
  font-weight: 500px;
  color: white;
}

.circle:hover{
   r: 10px;
   stroke-width: 1;
   stroke: rgb(255,255,255)
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.svg-tooltip {
  pointer-events: none;
  font-size: 14px;
  padding: 0px 0px;
}

.tooltip {
  padding: 10px;
  color: #4A22FF;
}

svg {
  display: block;
  margin: 0 auto;
}
.lead {
  font-style: bold;
}

p {
  margin: 5px 0px;
}

polygon {
  pointer-events: none;
}

.axis path,
.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.label {
  font-size: 13px;
  font-weight: 10;
  font-family: sans-serif;
}

.visitor-bar { 
  fill: teal; 
}
